---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} comment>
  <p></p>
  <p></p>
  <p>
    Motto: <Spoiler></Spoiler>
  </p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li></li>
  </ul>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Design'
    tools={[]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p></p>
  <Substats stats={[]} />

  {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title=''>
  </Collapse>

  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline events={[]} />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
  </ul>
</PageLayout>
